.search-conatiner {
    display: inline-block;
    width: 215px;
    height: 30px;
}
.search-form {
    display: block;
    width: 100%;
    input {
        border-radius: 4px;
        border: 1px solid $grey-lite;
        height: 30px;
        width: 100%;
        padding: 8px;
        font-size: 14px;
        background: $grey-bg;
        text-align: center;
    }
}

@media (max-width: 400px){
    .search-conatiner {
        display: none;
    }
}