.post-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-height: 300px;
    margin: 0 auto;
    header {
        display: flex;
        align-items: center;
        padding: 16px 40px 16px 16px;
        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
        h3 {
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            margin: 0;
            vertical-align: top;
            .post-location {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
    .post-card-actions {
        display: flex;
        flex-wrap: wrap;
        padding: 0 16px;
        margin:5px 0 10px;
        .action-icons {
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            margin: 0 0 0 -5px;
            cursor: pointer;
            &:nth-of-type(2){
                margin: -2px 0 0 0;
            }
            &:last-of-type {
                margin: 0 -5px 0 auto;
            }
            &.toggles {
                width: 30px; 
                height: 33px;
                position: relative;
                i {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    transition: 0.25s ease;
                }
                 i:last-of-type {
                    opacity: 0;
                }
                &.active {
                    i:first-of-type {
                        opacity: 0;
                    }
                     i:last-of-type {
                        opacity: 1;
                    }
                }
            }
            &.heart {
                i:last-of-type {
                    color: #EB4B59
                }
            }
        }
        h3 {
            width: 100%;
            margin: 0;
            font-size: 14px;
        }
    }
    &.landscape {
        .post-card__img-container {
            .post-card-img-box {
                padding: 75% 0 0 0;
            }
        } 
    } 
    &.square {
        .post-card__img-container {
            .post-card-img-box {
                padding: 100% 0 0 0;
            }
        } 
    } 
    &__img-container {
        background: #aaa; 
        width: 100%;
        .post-card-img-box {
            width: 100%;
            padding: 125% 0 0 0;
            background-position: center center !important;
            background-size: cover !important
        }
    }
    .post-card-comments {
        padding: 0 16px;
        margin: 0 0 10px 0;
        overflow: scroll;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0;
            font-size: 14px;
            position: relative;
            a {
                color: #333;
            }
        }
        button {
            color: $grey;
            border: none;
            float: right;
            margin-top: -2px;
            cursor: pointer;
        }
    }
    .post-card-date {
        padding: 0 16px;
        h4 {
            font-size: 10px;
            color: $grey;
            margin: 0 0 10px;
            font-weight: 300;
        }
    }
    .post-card-new-comment {
        padding: 0 16px;
        form {
            display: none;
        }
    }
}

@media (min-width: 700px){
    .post-card {
        border-radius: 3px;
        border: 1px solid $grey-lite;
        width: calc(100% - 100px);
        max-width: 1000px;
        min-height: 300px;
        margin: 60px auto 0;
        position: relative;
        &__img-container {
            display: inline-flex;
            align-items: center;
            min-height: 450px;
            width: calc(100% - 335px);
            margin-right: 335px;
        }
        header {
            border-bottom: 1px solid $grey-lite;
            padding: 20px 0;
            position: absolute;
            right: 24px;
            top: 0;
            width: 287px;
        }
        .post-card-info-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 24px;
            top: 74px;
            bottom: 0;
            width: 287px;
        }
        .post-card-actions {
            padding: 0px 0;
               margin: 0px 0 10px;
        }
        .post-card-comments {
            order: -1;
            flex-grow: 1;
            padding: 12px 0px;
            border-bottom: 1px solid $grey-lite;
        }
        .post-card-date {
            h4 {
                padding-bottom: 8px;
                border-bottom: 1px solid $grey-lite;
                margin-bottom: 8px;
            }
        }
        .post-card-new-comment {
            padding: 0;
            form {
                display: block;
                padding: 16px 24px 16px 0;
            }
            input {
                display: block;
                 font-size: 14px;
                width: 100%;
                border: none;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $grey;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: $grey;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: $grey;
                }
                *:-moz-placeholder { /* Firefox 18- */
                    color: $grey;
                }
            }
        }
    }
}