.slider-component {
    width: 100%;
    padding: 125% 0 0 0;
    position: relative;
    &__slides {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    } 
    &__slide {
        display: none;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
        &.active {
            display: block;
        }
    }
    &__indicators {
        width: 100px;
        position: absolute;
        top: calc(100% + 5px);
        right: calc(50% - 50px);
        padding: 0;
        margin: 0;
        z-index: 10;
        text-align: center;
        cursor: default;
        li {
            background-color: rgba(0,0,0,0.4);
            border-radius: 50%;
            display: inline-block;
            height: 6px; 
            width: 6px;
            margin: 0 1px;
            &.active {
                background-color: #3897f0;
            }
        }
    }
    &__forward,
    &__back {
        background: transparent;
        border: none;
        padding: 1px 7px 2px;
        position: absolute;
        top: 50%;
        right: 5px;
        color: #fff;
        opacity: 0;
        font-size: 28px;
        z-index: 10;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
        cursor: pointer;
    }
    &__back {
        left: 5px;
        right: initial;
    }
    &:hover {
        .slider-component__forward,
        .slider-component__back {
            opacity: 0.8;
        }
    }
}

.landscape {
    .slider-component {
        padding: 75% 0 0 0;
    } 
} 
.square {
    .slider-component {
        padding: 100% 0 0 0;
    } 
} 

@media (min-width: 700px){
    .slider-component {
        &__indicators {
            top: initial; 
            bottom: 5px;
        }
    }
}