.profile-posts-list {
    &__selectors {
        border-top: 1px solid $grey-lite;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: inline-flex;
            align-items: center;
            height: 52px;
            font-size: 12px;
            color: $secondary-text;
            cursor: pointer;
            &.active {
                color: $default-text;
                position: relative;
                &::after {
                    display: block;
                    content: '';
                    height: 1px;
                    background: $default-text;
                    position: absolute;
                    top: -1px;
                    right: 0;
                    left: 0;
                }
            }
            &:first-child {
                margin-right: 40px;
            }
            i {
                display: none;
            }
        }
    }
    &__items {
        display: block;
        margin-right: -28px;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
        .post-item-container {
            display: inline-block;
            width: 33.3%;
            padding-right: 28px;
            padding-bottom: 28px;
            float: left;
        }
    }
}

@media (max-width: 600px){
    .profile-posts-list {
        &__selectors {
            a {
                width: 100%;
                margin: 0;
                justify-content: center;
                &.active {
                    color: $blue-lite;
                    &::after {
                        display: none;
                    }
                }
                span {
                    display: none;
                }
                i {
                    display: block;
                    font-size: 24px;
                }
            }
        }
        &__items {
            margin-right: -3px;
            .post-item-container {
                padding-right: 3px;
                padding-bottom: 3px;
            }
        }
    }
}